/* Assignment 1 CSS
Michael Emdin-Hogenbirk

Code has been split into collapsible regions.
One sub region too.
Page contains some effects triggered by hover. If you see a word in bold that is seemingly not doing anything else, hover it. Probably will do something.
Spotlight you see surrounding the album cover is not part of the image. Made using radial gradient and transform scale to squish and stretch it.
Used both flex and grid properties.
Sources are cited in the footer of the html page, with links.
*/
/*=====================================================================================*/

/*#region Normalize*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  width: 100%;
  margin: 0;
}
/*#endregion Normalize*/

/*=====================================================================================*/

/*#region Global*/
html{
  background-color: black;
  color: #7FD3D3;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-around;
}
main {
  display: flex;
  flex-direction: column;
}
figure{/*album cover image container*/
  margin: 0 auto;
  margin-top: -5rem;
}

figcaption{/*Contains link for the image source*/
  padding-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
img{/*album cover image*/
  width: 800px;
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
h1, h2, h3{
  text-align: center;
  font-family: "Turret Road", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
h1{
  font-size: 48px;
}
i, i::after{
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
i:hover{
  color: #e91e63;
  text-shadow: #4f0a21 -1px -1px,/*cool 3d text effect using stacked text shadows*/
    #4f0a21 -2px -2px,
    #4f0a21 -3px -3px,
    #4f0a21 -4px -4px,
    #4f0a21 -5px -5px;
  cursor: default;
}
i:hover::after {/*REVERSE*/
  content: "reverse";
  border-right: 3px solid #e91e63;
  display: inline-block;
  transform: scaleX(-1);/*flip the after text on the X axis*/
  /*Though you did not teach this in class, I did learn it in class when we were replicating the newspaper article. 
  I used it then to increase the height of font, I'm using it now to reverse the font*/
}
section{
  display: flex;
  flex-direction: column;
  width: max-content;
  line-height: 200%;
  text-align: center;
  width: auto;
  justify-content: center;
}
a{
  color: #e91e63;
}
a:hover{
  color: #b01f4f;
}
/*#endregion Global*/

/*=====================================================================================*/

/*#region Less specific (non global) selectors*/
header p{
  margin-top: 0;
  margin-bottom: 5rem;
}
header h1{
  margin-bottom: 0;
}
main a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
div:first-of-type{/*Video player for song*/
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 90vh;
}
iframe{
  border: 1px solid #7FD3D3;
}
div:last-of-type{/*SPOTLIGHT EFFECT*/
  background: #afabc9;
  background: radial-gradient(circle, #8783A2 10%, #333052 30%, black 50%);/*circular gradient, 3 color values, with stopping points defined with %*/
  transform: scaleX(1.8) scaleY(.3);/*squish and stretch gradient*/
  width: 50%;
  position: absolute;/*positioned absolute so it can be placed over the main content initially*/
  height:50rem;
  top:190px;
  left: 25%;
  z-index: -1;/*moved down the z index to hide behind content instead of overlaying it*/
}
/*#endregion Less specific (non global) selectors*/

/*=====================================================================================*/

/*#region First Article (Overview)*/
article:first-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr;/*Two columns, equal sized*/
  grid-template-rows: 1fr 3fr;/*Two rows, first row contains only heading (so smaller), second contains both paragraphs with their headers, side by side*/
  border-bottom: white solid 1px;
  padding-top: 5rem;
}
article:first-of-type h1{
  grid-column-start: 1;/*heading starts at first column line (maybe I'm overthinking this, but I feel like these indexs should be based on the column, 
  not the lines that separate them.)*/
  grid-column-end: 3;/*end at last column line*/
  border-top: 1px solid white;
  padding-top: 2rem;
}
article:first-of-type section{
  text-align: left;/*defaulted to centered text due to global section property, as most sections are for the lyrics. Here I wanted it aligned like a typical paragraph*/
  padding: 0 4rem;
}
article:first-of-type section p{
  text-indent: 2rem;/*Indent the first line of each paragraph in the overview section, looks tidy in my opinion*/
}
/*#endregion First Article (Overview)*/

/*=====================================================================================*/

/*#region Second Article, Lyrics*/
section:first-of-type em{/*STAMINAS GONE*/
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #e91e63;
}
section:first-of-type em:hover{/*make stamina's gone "gone" when hovering*/
  opacity: 20%;
}
section:nth-of-type(2) p em {/*STAND (to weary to stand, so the word stand has keeled over)*/
  display: inline-block;
  transform: rotate(90deg);/*if I can scale text then surely I can rotate it too*/
  vertical-align: top;
  margin-bottom: 5rem;
  margin-top: 1.7rem;
  margin-left: -1rem;
}
section:first-of-type b, section:nth-of-type(2) p > b{/*SKIN*/
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: underline;/*if things are under it, surely it ought to have an underline?*/
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
}
section:first-of-type span, section:nth-of-type(2) span:last-of-type{/*SKIN + Where I end and begin*/
  display: flex;
  width:min-content;/*squished in so "Where I end and begin" is under "SKIN", as the song says*/
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}
section:nth-of-type(2) span:first-of-type {
  vertical-align: text-top;/*tiny tweak to better align "Can't run anymore, too weary to" with 90 deg flipped "stand" (Hardly noticable when removed, but I notice*/
}
section:nth-of-type(2) span b{/*EFFECT and CAUSE*/
  text-transform: uppercase;
  font-size: 18px;
}
section:nth-of-type(2) span:hover b{/*effect and cause hover effect*/
  color: #e91e63;
  text-shadow: #4f0a21 1px -1px,/*cool 3d text effect using stacked text shadows*/
    #4f0a21 2px -2px,
    #4f0a21 3px -3px,
    #4f0a21 4px -4px,
    #4f0a21 5px -5px;
  text-transform: uppercase;
  font-size: 24px;
  cursor: default;/*Wanted mouse to appear as normal here, not text selector*/
}
section:nth-of-type(3) span{/*only silence... each line of this section*/
  word-spacing: 1rem;
  line-height: 600%;
  position: relative;
}
section:nth-of-type(3) span em{/*only silence... all words placed in their own em and positioned relative so they can be staggered however I want below*/
  position: relative;
}

/*=====================================================================================*/
/*#region Sheet Music Style Lyrics*/
section:nth-of-type(3) span em:first-of-type{bottom: 42px;}/*Oh*/
section:nth-of-type(3) span em:nth-of-type(2){bottom: 28px;}/*Only*/
section:nth-of-type(3) span em:nth-of-type(3){bottom: 42px;}/*Silence*/
section:nth-of-type(3) span em:nth-of-type(4){bottom: 28px;}/*Can*/
section:nth-of-type(3) span em:nth-of-type(5){bottom: 14px;}/*Restore*/
section:nth-of-type(3) span em:nth-of-type(6){bottom: 42px;}/*My*/
section:nth-of-type(3) span em:nth-of-type(7){bottom: 28px;}/*Sense*/
section:nth-of-type(3) span em:nth-of-type(8){bottom: 14px;}/*Of*/
section:nth-of-type(3) span em:nth-of-type(9){bottom: 28px;}/*Place*/
section:nth-of-type(3) span em:nth-of-type(10){bottom: 14px;}/*I*/
section:nth-of-type(3) span em:nth-of-type(12){top: 14px;}/*Before*/
section:nth-of-type(3) span em:nth-of-type(13){bottom: 42px;}/*Oh*/
section:nth-of-type(3) span em:nth-of-type(14){bottom: 28px;}/*Only*/
section:nth-of-type(3) span em:nth-of-type(15){bottom: 42px;}/*Silence*/
section:nth-of-type(3) span em:nth-of-type(16){bottom: 28px;}/*Can*/
section:nth-of-type(3) span em:nth-of-type(17){bottom: 14px;}/*Repair*/
section:nth-of-type(3) span em:nth-of-type(18){bottom: 42px;}/*My*/
section:nth-of-type(3) span em:nth-of-type(19){bottom: 28px;}/*Sense*/
section:nth-of-type(3) span em:nth-of-type(20){bottom: 14px;}/*Of*/
section:nth-of-type(3) span em:nth-of-type(22){bottom: 28px;}/*I*/
section:nth-of-type(3) span em:nth-of-type(23){bottom: 42px;}/*Lost*/
section:nth-of-type(3) span em:nth-of-type(24){bottom: 28px;}/*Somewhere*/
/*#endregion Sheet Music Style Lyrics*/
/*=====================================================================================*/

section:nth-of-type(4) p > em{/*long long*/
  display: inline-block;
  text-transform: uppercase;
  transform: scaleX(5);/*Stretched long long so its longer.*/
  margin: 0 15rem;
}

section:nth-of-type(4) span > em {/*left alone, pushed to the left, and by itself.*/
  font-size: 24px;
  text-transform: uppercase;
  margin: 4rem;
  display: flex;
}
/*#endregion Second Article, Lyrics*/

/*=====================================================================================*/

/*#region footer*/
footer{
  display: flex;
  font-family: sans-serif;
  border-top: white 1px solid;
  width: 100%;
}
footer p{
  padding: 1rem;
}
/*#endregion footer*/