/*  1. Select a song that is meaningful to you and obtain the official lyrics.
    Metric - Now or Never Now
    2. Create a local code repository using Git (or add an "assignment-1" folder into your class files repository.)
    Done
    3. Build a valid, well-structured HTML page for the song lyrics, along with a paragraph about the song and another regarding the artist or the band.
    Done
    4. Use appropriate sectioning elements to structure the page (like article, section, header, main, footer, aside) and other semantically-meaningful elements to mark up the content (like headings, paragraphs, lists, blockquotes, quotes, etc.). Do not add any classes or IDs to the HTML.
    Done
    5. Validate your HTML to be sure there are no errors at https://validator.w3.org/.
    Currently complaining that I am using sections without headings. Suggests I use divs instead. Also complains that I used H1s more that once, as screen readers might interpret each as top level headings. Cry harder HTML validator.
    6. Apply a CSS reset or normalization technique that also addresses box-sizing.
    Done?
    7. Select two typefaces that would be suitable for the lyrics - one for the page headings, and another for the page body. Be sure to consider readability—display fonts are designed for headings, while other fonts were made for large blocks of text (called body copy). You may use a font-embedding service like Google Fonts if you wish.
    Done. Orbitron for headings, Turret Road for body copy. Both from Google Fonts.
    8. Use either CSS Flexbox or Grid (or a combination of both) to build a simple but effective layout for the page.
    Used both.
    9. Employ the typographic techniques learned in this class to style the text using the two typefaces that you have selected.
    10. Add some suitable colours and other design elements to the page, but consider legibility—make sure that the page is easy to read and that there are no contrast issues.
    I think I chose appropriate colours that fit the album art and song, plus are legible.
    11. Validate your CSS to be sure there are no errors at https://jigsaw.w3.org/css-validator/.
    Done
    12. Be sure to include regular Git commits describing each stage of your work from start to finish so that the development process is well-documented (this is important). Push all changes to a remote repository (like Github).
    13. Include some fine-print at the bottom of the page with links to any resources referenced in the creation of your assignment.
    14. No 3rd-party CSS themes or frameworks are permitted. All CSS and HTML must be your own work.
    15. Only use CSS and HTML techniques that we have learned in class - code beyond the scope of the course content may be subject to a code review. Ensure that all work submitted adheres to Georgian College's Academic Integrity policies and procedures, available at https://cat.georgiancollege.ca/academic-regulations/integrity/
    */
/*=====================================================================================*/

/*#region Normalize*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body{
  width: 100%;
  margin: 0;
}
/*#endregion Normalize*/

/*=====================================================================================*/

/*#region Global*/
html{
  background-color: black;
  color: #7FD3D3;
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: space-around;
}
main {
  display: flex;
  flex-direction: column;
}
div{/*SPOTLIGHT EFFECT*/
  background: #afabc9;
  background: radial-gradient(circle, #8783A2 10%, #333052 30%, black 50%);/*circular gradient, 3 color values, with stopping points defined with %*/
  transform: scaleX(1.8) scaleY(.3);/*squish and stretch gradient*/
  width: 50%;
  position: absolute;/*positioned absolute so it can be placed over the main content initially*/
  height:50rem;
  top:190px;
  left: 25%;
  z-index: -1;/*moved down the z index to hide behind content instead of overlaying it*/
}
figure{/*album cover image container*/
  margin: 0 auto;
}

figcaption{/*Contains link for the image source*/
  padding-top: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
img{/*album cover image*/
  width: 800px;
}
header{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}
h1, h2, h3{
  text-align: center;
  font-family: "Turret Road", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
h1{
  font-size: 48px;
}
i, i::after{
  text-transform: uppercase;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
}
i:hover{
  color: #e91e63;
  text-shadow: #4f0a21 -1px -1px,/*cool 3d text effect using stacked text shadows*/
    #4f0a21 -2px -2px,
    #4f0a21 -3px -3px,
    #4f0a21 -4px -4px,
    #4f0a21 -5px -5px;
  cursor: default;
}
i:hover::after {/*REVERSE*/
  content: "reverse";
  border-right: 3px solid #e91e63;
  display: inline-block;
  transform: scaleX(-1);/*flip the after text on the X axis*/
  /*Though you did not teach this in class, I did learn it in class when we were replicating the newspaper article. 
  I used it then to increase the height of font, I'm using it now to reverse the font*/
}
section{
  display: flex;
  flex-direction: column;
  width: max-content;
  line-height: 200%;
  text-align: center;
  width: auto;
  justify-content: center;
}
a{
  color: #e91e63;
}
a:hover{
  color: #b01f4f;
}
/*#endregion Global*/

/*=====================================================================================*/

/*#region Less specific (non global) selectors*/
header p{
  margin-top: 0;
  margin-bottom: 5rem;
}
header h1{
  margin-bottom: 0;
}
main a{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
/*#endregion Less specific (non global) selectors*/

/*=====================================================================================*/

/*#region First Article (Overview)*/
article:first-of-type{
  display: grid;
  grid-template-columns: 1fr 1fr;/*Two columns, equal sized*/
  grid-template-rows: 1fr 3fr;/*Two rows, first row contains only heading (so smaller), second contains both paragraphs with their headers, side by side*/
  border-bottom: white solid 1px;
  padding-top: 5rem;
}
article:first-of-type h1{
  grid-column-start: 1;/*heading starts at first column line (maybe I'm overthinking this, but I feel like these indexs should be based on the column, 
  not the lines that separate them.)*/
  grid-column-end: 3;/*end at last column line*/
  border-top: 1px solid white;
  padding-top: 2rem;
}
article:first-of-type section{
  text-align: left;/*defaulted to centered text due to global section property, as most sections are for the lyrics. Here I wanted it aligned like a typical paragraph*/
  padding: 0 4rem;
}
article:first-of-type section p{
  text-indent: 2rem;/*Indent the first line of each paragraph in the overview section, looks tidy in my opinion*/
}
/*#endregion First Article (Overview)*/

/*=====================================================================================*/

/*#region Second Article, Lyrics*/
section:first-of-type em{/*STAMINAS GONE*/
  text-decoration: line-through;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: #e91e63;
}
section:first-of-type em:hover{/*make stamina's gone "gone" when hovering*/
  opacity: 20%;
}
section:nth-of-type(2) p em {/*STAND (to weary to stand, so the word stand has keeled over)*/
  display: inline-block;
  transform: rotate(90deg);/*if I can scale text then surely I can rotate it too*/
  vertical-align: top;
  margin-bottom: 5rem;
  margin-top: 1.7rem;
  margin-left: -1rem;
}
section:nth-of-type(2) span:first-of-type {
  vertical-align: text-top;/*tiny tweak to better align "Can't run anymore, too weary to" with 90 deg flipped "stand" (Hardly noticable when removed, but I notice*/
}
section:nth-of-type(2) span b{/*EFFECT and CAUSE*/
  text-transform: uppercase;
  font-size: 18px;
}
section:nth-of-type(2) span:hover b{/*effect and cause hover effect*/
  color: #e91e63;
  text-shadow: #4f0a21 1px -1px,/*cool 3d text effect using stacked text shadows*/
    #4f0a21 2px -2px,
    #4f0a21 3px -3px,
    #4f0a21 4px -4px,
    #4f0a21 5px -5px;
  text-transform: uppercase;
  font-size: 24px;
  cursor: default;/*Wanted mouse to appear as normal here, not text selector*/
}
section:first-of-type b, section:nth-of-type(2) p > b{/*SKIN*/
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
}
section:first-of-type span, section:nth-of-type(2) span:last-of-type{/*SKIN + Where I end and begin*/
  display: flex;
  width:min-content;/*squished in so "Where I end and begin" is under "SKIN", as the song says*/
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1rem;
}
section:nth-of-type(3) span{/*only silence... each line of this section*/
  word-spacing: 1rem;
  line-height: 600%;
  position: relative;
}
section:nth-of-type(3) span em{/*only silence... all words placed in their own em and positioned relative so they can be staggered however I want below*/
  position: relative;
}

/*=====================================================================================*/
/*#region Sheet Music Style Lyrics*/
section:nth-of-type(3) span em:first-of-type{bottom: 42px;}/*Oh*/
section:nth-of-type(3) span em:nth-of-type(2){bottom: 28px;}/*Only*/
section:nth-of-type(3) span em:nth-of-type(3){bottom: 42px;}/*Silence*/
section:nth-of-type(3) span em:nth-of-type(4){bottom: 28px;}/*Can*/
section:nth-of-type(3) span em:nth-of-type(5){bottom: 14px;}/*Restore*/
section:nth-of-type(3) span em:nth-of-type(6){bottom: 42px;}/*My*/
section:nth-of-type(3) span em:nth-of-type(7){bottom: 28px;}/*Sense*/
section:nth-of-type(3) span em:nth-of-type(8){bottom: 14px;}/*Of*/
section:nth-of-type(3) span em:nth-of-type(9){bottom: 28px;}/*Place*/
section:nth-of-type(3) span em:nth-of-type(10){bottom: 14px;}/*I*/
section:nth-of-type(3) span em:nth-of-type(12){top: 14px;}/*Before*/
section:nth-of-type(3) span em:nth-of-type(13){bottom: 42px;}/*Oh*/
section:nth-of-type(3) span em:nth-of-type(14){bottom: 28px;}/*Only*/
section:nth-of-type(3) span em:nth-of-type(15){bottom: 42px;}/*Silence*/
section:nth-of-type(3) span em:nth-of-type(16){bottom: 28px;}/*Can*/
section:nth-of-type(3) span em:nth-of-type(17){bottom: 14px;}/*Repair*/
section:nth-of-type(3) span em:nth-of-type(18){bottom: 42px;}/*My*/
section:nth-of-type(3) span em:nth-of-type(19){bottom: 28px;}/*Sense*/
section:nth-of-type(3) span em:nth-of-type(20){bottom: 14px;}/*Of*/
section:nth-of-type(3) span em:nth-of-type(22){bottom: 28px;}/*I*/
section:nth-of-type(3) span em:nth-of-type(23){bottom: 42px;}/*Lost*/
section:nth-of-type(3) span em:nth-of-type(24){bottom: 28px;}/*Somewhere*/
/*#endregion Sheet Music Style Lyrics*/
/*=====================================================================================*/

section:nth-of-type(4) p > em{/*long long*/
  display: inline-block;
  text-transform: uppercase;
  transform: scaleX(5);/*Stretched long long so its longer.*/
  margin: 0 15rem;
}

section:nth-of-type(4) span > em {/*left alone, pushed to the left, and by itself.*/
  font-size: 24px;
  text-transform: uppercase;
  margin: 4rem;
  display: flex;
}
/*#endregion Second Article, Lyrics*/

/*=====================================================================================*/

/*#region footer*/
footer{
  display: flex;
  font-family: sans-serif;
  border-top: white 1px solid;
  width: 100%;
}
footer p{
  padding: 1rem;
}
/*#endregion footer*/