@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}

header{
	margin-bottom: 2rem;/*small gap for under header*/
}

ul {
	display: flex;/*display ul left to right flexrow*/
	margin: 0;
	padding-left: 0;/*ensure first tab lines up with panel box*/
}
li {
	list-style: none;/*get rid of bullet points*/
}
a {
	border-radius: 10px 10px 0 0;
	text-decoration: none;/*get rid of anchor default underline*/
	border: transparent 2px solid;/*hide border but keep size for no shrinkage between tabs clicked*/
	border-bottom: none;/*cut off bottom at panel line*/
	background-color: lightgray;
	color: black;/*change anchor font color from blue to black*/
	font-weight: bold;
	padding: 1rem;
	margin: 0;
	margin-right: .5rem;
}
a.active{
	border: 2px solid black;
	background-color: white;
	border-bottom: none;/*rely on white background color to cover panel border*/
	position: relative;
	z-index: 2;/*ensure active anchor appears on top to cover panel border*/
}
div[role="tabpanel"]{
	border: 2px solid black;
	margin-top: 1rem;
	position: absolute;/*keep all panels in the same spot*/
	width: 80%;/*ensure they don't span the whole page*/
	padding: 1rem;
	visibility: hidden;/*hide until active class is added*/
}
div[role="tabpanel"].active{
	visibility: visible;
	z-index: 0;/*keep panel behind anchor with active class*/
}
/*keeping footer out of the way*/
footer{
	position: absolute;
	bottom: 1px;
}
