@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}
header{
	margin-bottom: 2rem;
}
ul {
	display: flex;
	margin: 0;
	padding-left: 0;
}
li {
	list-style: none;
	margin-left: 0;
}
a {
	text-decoration: none;
	border: transparent 2px solid;
	background-color: transparent;
	color: black;
	font-weight: bold;
	padding: 1rem;
	margin: 0;

}
a.active{
	border: 2px solid black;
	border-radius: 10px 10px 0 0;
	background-color: lightgray;
	border-bottom: none;
}
div[role="tabpanel"]{
	border: 2px solid black;
	background-color: lightgray;
	margin-top: 1rem;
	position: absolute;
	z-index: -1;
	padding: 1rem;
	visibility: hidden;
}
div[role="tabpanel"].active{
	visibility: active;
}
/*keeping footer out of the way*/
footer{
	position: absolute;
	bottom: 1px;
}
