/*changing idea, thinking an apartment building which spans the height of the page, as the user scrolls, elements
are used to construct the building*/

@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  background-color: aqua;
}
*, *::before, *::after {
  box-sizing: inherit;
}
svg {/*shrinking these images for the time being*/
  width: 30px;
  height: 30px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: blue;
}
body{
  width: 80%;
  margin: 0 auto;
}
.skip-link{
  background-color: yellow;
  padding: 5rem 1rem;
  margin: 1rem;
  border-radius: 500px;
}
header{
  margin: auto;
  margin-top: 5rem;
  width: fit-content;  
  border: 10px solid black;
  background-color: gray;
}
header .container{
  background-color: gray;
  padding: 1rem;
  margin: .5rem;
  border: 10px dotted yellow;
}
header h1{}
header h2{}
header p{}
header a{}
nav{
  display: flex; 
  margin: 0 auto;
  border-right: 10px solid black;
  border-left: 10px solid black;
  width: fit-content;
}
nav ul{
  padding: 2rem 0 0;
  display: flex; 
  border-right: 5px solid gray;
  border-left: 5px solid gray;
  margin: 0rem 1rem 1rem;
  /* flex-wrap: wrap; */
}
nav ul li{
  padding: 1rem;
  border-top: solid 5px gray;
  border-bottom: solid 5px gray;
  background-color: lightgray;
}
nav ul li a{}
main{
  border: 10px solid black;
  background-color: rgb(121, 22, 22);
}
main > .container{
  padding: 0rem;
}
#about section:first-of-type{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section h2{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 0;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  background-color: gray;
  
}
section p,
#about section:first-of-type blockquote > p{
  border: 30px solid rgb(56, 53, 53);
  border-bottom: solid 50px rgb(118, 113, 113);
  background-color: rgb(159, 118, 51);
  border-top: 1px solid black;
  font-size: 25px;
  width: 450px;
  border-radius: 15rem 15rem 0 0;
  margin: 1rem;
  padding: 4rem;
}
#about section:first-of-type blockquote > p{
  width: 100%;
  border-top: 1px solid black;
  padding: 5rem;
}
#about section:first-of-type > p:nth-of-type(3){
  width: 100%;
  border-top: 1px solid black;
  padding: 5rem;
}
/*second section first article*/
#about section:nth-of-type(2){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about section:nth-of-type(2) h2{

}
#about section:nth-of-type(2) > p:first-of-type{

}
#about section:nth-of-type(2) > p:nth-of-type(2){

}
#about section:nth-of-type(2) > p:nth-of-type(3){

}
#about section:nth-of-type(2) > p:nth-of-type(4){

}
#about section:nth-of-type(2) ul{
  margin: 0;
  padding: 0;
}
#about section:nth-of-type(2) ul li{
  background-color: darkslategrey;
  padding: 0 1rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: center;
  width: 250px;
}
#about section:nth-of-type(2) ul li:nth-of-type(1){}
#about section:nth-of-type(2) ul li:nth-of-type(2){}
#about section:nth-of-type(2) ul li:nth-of-type(3){}
#about section:nth-of-type(2) ul li:nth-of-type(4){}
#about section:nth-of-type(2) ul li:nth-of-type(5){}
#about section:nth-of-type(2) ul li:nth-of-type(6){}
#about section:nth-of-type(2) ul li:nth-of-type(7){}
#about section:nth-of-type(2) ul li:nth-of-type(8){}
#about section:nth-of-type(2) ul li:nth-of-type(9){}
#about section:nth-of-type(2) ul li:nth-of-type(10){}
#about section:nth-of-type(2) ul li:nth-of-type(11){}
#about section:nth-of-type(2) ul li:nth-of-type(12){}
#about section:nth-of-type(2) ul li:nth-of-type(13){}
#about section:nth-of-type(2) ul li:nth-of-type(14){}
#about section:nth-of-type(2) ul li:nth-of-type(15){}
#about section:nth-of-type(2) ul li:nth-of-type(16){}
#about section:nth-of-type(2) ul li:nth-of-type(17){}

/*first section 1 h2, 3 p, 1 blockquote + p*/
/*second section 1 h2, 4 p, 1 ul, 1 a in fourth paragraph*/
#guidelines{}
#guidelines .container{}/*1 section*/
/*1 h2, 1 h3, 4 p, 1 a, 1 a in first p*/
#contribute{}
#contribute .container{}/*2 sections + 1 footer*/
/*first section 1 h2, 2 p, 1 a in second p*/
/*second section 1 h3, 1 ol with 4 li, 1 a in first li, 1 a in third li*/

#files{}/*footer 1 h3, 3 a*//*footer is within #contribute*/
#profile{}
/*profile is an aside, with 1 h4, 1 ul with 4 li, 1 a in third li, 1 a in fourth li, and 1 a after the ul*/
#styles{}
/*styles is an aside, with 1 h2, 1 ul with 3 li, 1 span and 1 a in each li, and 1 a after the ul*/
.page-footer{}
.page-footer .container{}
/*page footer contains 3 p, 1 ul with 4 li, 1 a in each li, 4 a in second p, 1 a in third p*/