/*changing idea, thinking an apartment building which spans the height of the page, as the user scrolls, elements
are used to construct the building*/

@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
  background-color: aqua;
}
*, *::before, *::after {
  box-sizing: inherit;
}
svg {/*shrinking these images for the time being*/
  width: 30px;
  height: 30px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: blue;
}
body{
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skip-link{
  background-color: yellow;
  padding: 5rem 1rem;
  margin: 1rem;
  border-radius: 500px;
}
header{
  margin: auto;
  margin-top: 5rem;
  width: fit-content;  
  border: 10px solid black;
  background-color: gray;
}
header .container{
  background-color: gray;
  padding: 1rem;
  margin: .5rem;
  border: 10px dotted yellow;
}
header h1{}
header h2{}
header p{}
header a{}
nav{
  display: flex; 
  margin: 0 auto;
  border-right: 10px solid black;
  border-left: 10px solid black;
  width: fit-content;
}
nav ul{
  padding: 2rem 0 0;
  display: flex; 
  border-right: 5px solid gray;
  border-left: 5px solid gray;
  margin: 0rem 1rem 1rem;
  /* flex-wrap: wrap; */
}
nav ul li{
  padding: 1rem;
  border-top: solid 5px gray;
  border-bottom: solid 5px gray;
  background-color: lightgray;
}
nav ul li a{}
main{
  border: 10px solid black;
  background-color: rgb(121, 22, 22);
}
main > .container{
  padding: 0rem;
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section h2{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 0;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  background-color: gray;
}
section p,
#about section:first-of-type blockquote > p{
  border: 30px solid rgb(56, 53, 53);
  border-bottom: solid 50px rgb(118, 113, 113);
  background-color: rgb(159, 118, 51);
  border-top: 1px solid black;
  font-size: 25px;
  width: 30rem;
  border-radius: 15rem 15rem 0 0;
  margin: 1rem;
  padding: 4rem;
}
#about section:first-of-type > p:nth-of-type(3),
#about section:first-of-type blockquote > p{
  width: 100%;
  border-top: 1px solid black;
  padding: 5rem;
}
/*second section first article*/

#about section:nth-of-type(2) > p:nth-of-type(1){
  margin-bottom: 0;
  width: 60%;
  padding: 5rem;
}
#about section:nth-of-type(2) p:nth-of-type(2){
  padding: 0.5rem;
  margin: 0;
  border: 10px solid rgb(148, 148, 148);
  font-size: 20px;
  text-align: center;
  background-color: rgb(148, 148, 148);
  border-radius: 0;
  width: 60%;
}
#about section:nth-of-type(2) ul{
  margin: 0;
  padding: 0;
  width: 100%;
}
#about section:nth-of-type(2) ul li{
  background-color: rgb(148, 148, 148);;
  border: 10px solid rgb(148, 148, 148);
  border-top: solid 20px rgb(118, 113, 113);
  border-right: solid 20px rgb(68, 58, 58);
  border-left: none;
  border-bottom: none;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 16rem;
  display: flex;
  justify-content: center;
  position: relative;
}
#about section:nth-of-type(2) ul li::before{
  content: "";
  border: 10px solid rgb(118, 113, 113);
  border-top: rgb(121, 22, 22) 10px solid;
  border-left: rgb(121, 22, 22) 10px solid;
  position: absolute;
  left: 0;
  top: -20px;
}
#about section:nth-of-type(2) ul li::after{
  content: "";
  border: 10px solid rgb(121, 22, 22);
  border-top: rgb(68, 58, 58) 10px solid;
  border-left: rgb(68, 58, 58) 10px solid;
  position: absolute;
  right: -20px;
  bottom: 0px;
}
#about section:nth-of-type(2) ul li:nth-of-type(1){margin-left: 18%;}
#about section:nth-of-type(2) ul li:nth-of-type(2){margin-left: 27%;}
#about section:nth-of-type(2) ul li:nth-of-type(3){margin-left: 36%;}
#about section:nth-of-type(2) ul li:nth-of-type(4){margin-left: 47%;}
#about section:nth-of-type(2) ul li:nth-of-type(5){margin-left: 55%;}
#about section:nth-of-type(2) ul li:nth-of-type(6){margin-left: 47%;}
#about section:nth-of-type(2) ul li:nth-of-type(7){margin-left: 36%;}
#about section:nth-of-type(2) ul li:nth-of-type(8){margin-left: 27%;}
#about section:nth-of-type(2) ul li:nth-of-type(9){margin-left: 18%;}
#about section:nth-of-type(2) ul li:nth-of-type(10){margin-left: 27%;}
#about section:nth-of-type(2) ul li:nth-of-type(11){margin-left: 36%;}
#about section:nth-of-type(2) ul li:nth-of-type(12){margin-left: 47%;}
#about section:nth-of-type(2) ul li:nth-of-type(13){margin-left: 55%;}
#about section:nth-of-type(2) ul li:nth-of-type(14){margin-left: 47%;}
#about section:nth-of-type(2) ul li:nth-of-type(15){margin-left: 36%;}
#about section:nth-of-type(2) ul li:nth-of-type(16){margin-left: 27%;}
#about section:nth-of-type(2) ul li:nth-of-type(17){margin-left: 18%;}
#about section:nth-of-type(2) ul + p{
  width: 100%;
  padding: 6rem;
  margin-bottom: 0;
  position: relative;
}
#about section:nth-of-type(2) p:last-of-type{
  background-color: rgb(148, 148, 148);
  border-radius: 0;
  margin-top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 20px solid rgb(148, 148, 148);

}
/*first section 1 h2, 3 p, 1 blockquote + p*/
/*second section 1 h2, 4 p, 1 ul, 1 a in fourth paragraph*/
#guidelines{
  display: flex;
}
#guidelines p:first-of-type{
  width: 100%;
  padding: 6rem;
  margin: 5rem 5rem 0 5rem;
}
#guidelines h3{
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 5rem;
  width: 100%;
  background-color: gray;
}
#guidelines p:nth-of-type(2),
#guidelines p:nth-of-type(3){
  border: none;
  border-radius: 0;
  font-size: 20px;
  padding: 1rem;
  margin: 1rem 5rem;
  position: relative;
}
#guidelines p:nth-of-type(2)::after{
  content: "";
  height: 634px;
  border-left: rgb(191, 141, 16) 10px solid;
  border-right: rgb(191, 141, 16) 10px solid;
  position: absolute;
  box-sizing: content-box;
  width: 100%;
  left: -10px;
  top: -17px;
}
#guidelines section > a:last-of-type{
  width: 100%;
  text-align: center;
}
#guidelines .container{}/*1 section*/
/*1 h2, 1 h3, 4 p, 1 a, 1 a in first p*/
#contribute section:last-of-type{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto 0 auto;
  width: 80%;
  border: gray 10px solid;
  border-radius: 40% 40% 0 0;
  font-size: 20px;
  background-color: rgb(148, 148, 148);
  border-bottom: none;
}
#contribute .container ol{
  list-style-type: upper-roman;
  border: rgb(56, 53, 53) 40px solid;
  border-top: none;
  border-radius: 40% 40% 0 0;
  padding: 5rem 4rem;
  width: 80%;
  margin: 0;
  border-bottom: 40px solid rgb(148, 148, 148);
  background-color: rgb(136, 84, 2);
}
#contribute .container ol li{
  list-style: revert;
  padding: 1rem;
}

#files{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: gray;
  
}

.profile, 
#styles{
  position: absolute;
  bottom: 10rem;
  padding: 1rem;
  width: 15%;
  height: 40rem;
  border-top: 10px solid rgb(191, 141, 16);
  border-bottom: 10px solid rgb(191, 141, 16);
  z-index: 1;
}
.profile ul, #styles ul{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.profile{left: 1rem;}
#styles{right: 1rem;}
.profile::after,
#styles::after{
  content: "";
  position: absolute;
  border: 10px solid rgb(191, 141, 16);
  border-top: transparent 10px solid;
  height: 49rem;
  left: 43%;
  top: -2rem;
  z-index: -2;
}
.profile::before,
#styles::before{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgb(216, 2, 2);
  z-index: -1;
}
#styles li > span{
  display: flex;
  flex-direction: column;
}

.page-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(24, 144, 15);
  position: absolute;
  bottom: -14rem;
  left: -12.5%;
  width: 125%;
}
.page-footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: saddlebrown;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
/*page footer contains 3 p, 1 ul with 4 li, 1 a in each li, 4 a in second p, 1 a in third p*/