/*#region normalize ==========================================================================*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  width: fit-content;
  margin: 0 auto;
}

/*#endregion normalize =======================================================================*/
header {
  display: grid;
  row-gap: 0rem;
  width: fit-content;
  grid-template-areas: 'headerP''headerh1';
  justify-content: right;
}
header h1 {
  grid-area: headerh1;
  color: orangered;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 160px;
  margin: 0;
  letter-spacing: -20px;
}
header p {
  text-transform: uppercase;
  grid-area: headerP;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  word-spacing: -10px;
  margin-bottom: 0;
}
#container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  width: 100%;
  height: fit-content;
}
footer p {
  margin-top: 0;
}

footer em {
  color: orangered;
  font-size: 20px;
}
footer strong {
  font-family: monospace;
  padding-left: 1rem;
  font-size: 20px;
}
/*#region main flex =========================================================================*/
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;/*columns appear right to left instead of left to right*/
  width: auto;
  height: 1060px;
  align-content: center;
}

aside:first-of-type {/*model picture lady*/
  width: fit-content;
}
aside:last-of-type {/*on our cover*/
  border: orange 2px solid;
  width: 370px;
  height: max-content;
  font-weight: bold;
  padding: 0rem 1rem;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  margin-top: 1rem;
  align-self: right;
}
aside:last-of-type h2{
  font-family: serif;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
section {
  width: 475px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 15px solid;
  height: auto;
}
section:first-of-type {
  border-color: olivedrab;
}
section:nth-of-type(2) {
  border-color: rgb(218, 56, 110);
}
section:last-of-type {
  border-color: rgb(1, 156, 191);
}
/*#endregion main flex =========================================================================*/
img {
  height: 707px;
  width: 402px;
}
figure {
  position: relative;
  padding: 0;
  margin: 0;
}
figure em {/*31*/
  font-size: 120px;
  font-family: 'Arial Narrow', sans-serif;
  font-style: normal;
  line-break: auto;
  line-height: 100px;
}
figure em::after {/*this is literally here solely to underline the one in 31*/
  position: relative;
  content: "--";
  margin-left: -3rem;
  top: 26px;
  letter-spacing: -13px;
}
section ol {
  width: 90%;
  margin-left: 12%;
  padding: 0;
}
section li {
  position: relative;
  margin-bottom: -.4rem;
  margin-right: 0;
}
section li:last-of-type {
  margin-bottom: -1rem;
}
section:last-of-type li:last-of-type {
  margin-bottom: -2rem;
}
section li h3 {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 -.6rem -.8rem;
  text-wrap: wrap;
  font-size: 16px;
  border-left: 5px solid white;/*hiding value periods using border*/
  padding-left: 7px;
}
section li p {
  position: relative;
  bottom: 12px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5rem;
}
section:first-of-type li h3 {
  color: olivedrab;
  
}
section:nth-of-type(2) li h3 {
  color: rgb(218, 56, 110);
}
section:last-of-type li h3 {
  color: rgb(1, 156, 191);
}
li::marker {
  font-family:'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
li strong {
  text-transform: capitalize;
}

figcaption p:first-of-type{
  display: grid;
  color: white;
  position: absolute;
  bottom: 3.5rem;
  left: 80px;
  width: 150px;
  text-align: left;
}
figcaption p:last-of-type {/*keith lathrop*/
  transform: rotate(-90deg);
  text-transform: uppercase;
  position: absolute;
  left: -50px;
  bottom: -260px;
  margin: 0;
}
aside {
  justify-self: center;
  margin-right: 1rem;
}
aside:last-of-type p em{
  font-style: normal;
  text-transform: uppercase;
}
aside:last-of-type p{
  margin: 0;
}
aside:last-of-type ol{
  margin-top: 0;
  padding-top: 0;
}
aside:last-of-type li::before {
  content: "";
  border-left: solid 5px white;/*hiding value periods behind border*/
  margin-left: -.8rem;
  padding-right: .5rem;
}
section h2 {
  text-transform: lowercase;
  font-family: serif;
  font-weight: 100;
  font-size: 40px;
  margin: 1.5rem 0;
  line-height: 0;
  letter-spacing: -2px;
}
li[value*='11'] p {text-indent: 7.2rem;}/*take time to*/
li[value*='12'] p {text-indent: 5.3rem; width: 90%;}/*how to*/
li[value*='16'] p {text-indent: 9.5rem; width: 90%;}/*womansday.com*/
li[value*='20'] p {text-indent: 13.6rem; width: 90%;}/*reinventing date night*/
li[value*='26'] p {text-indent: 7.1rem; width: 65%;}/*momfidence*/
li[value*='31'] p {text-indent: 7.3rem;}/*take time to*/
li[value*='32'] p {text-indent: 8.8rem; width: 90%;}/*beauty closet*/
li[value*='36'] p {text-indent: 8.1rem; width: 90%;}/*pretty in red*/
li[value*='47'] p {text-indent: 7.3rem;}/*take time to*/
li[value*='49'] p {text-indent: 16.3rem; width: 86%;}/*4 fridays*/
li[value*='52'] p {text-indent: 7.7rem;}/*your health*/
li[value*='55'] p {text-indent: 5.2rem;}/*checkup*/
li[value*='56'] p {text-indent: 11.5rem;}/*25 medical mistakes*/
li[value*='68'] p {top: 10px; padding-bottom: 1.5rem; width: 75%;}/*the heart*/
li[value*='72'] p {text-indent: 11.8rem; width: 95%;}/*your child's health*/
li[value*='76'] p {text-indent: 9.2rem; width: 85%;}/*blast belly fat*/
  /*#endregion dumb list solution=================================================*/
@media (max-width: 930px){
  main {
    height: 1161px;
  }
  header h1 {
    font-size: 120px;
    letter-spacing: -7px;
  }
  aside {
    margin-right: 0rem;
  }
  aside:last-of-type {
    width: 300px;
    padding: 0;
  }
  aside ol {
    margin-left: 5px;
  }
  section ol{
    margin-left: 2rem;
  }
  figcaption p:last-of-type {
    left: 20px;
    bottom: -280px;
  }
}
@media screen and (max-width: 450px){
  header h1 {
    font-size: 58px;
    letter-spacing: -7px;
  }
  header p {
    font-size: 9px; 
    word-spacing: -4px;
  }
  footer {font-size: 7px;}
  footer em {font-size: 10px;}
  footer strong {
    font-size: 10px; 
    padding: 0;
  }
  aside {margin-right: .25rem;}
  aside:last-of-type {
    width: 133px; 
    font-size: 6px; 
    padding: 0.2rem 0rem 0.2rem 0.2rem; 
    margin-top: .35rem;
    border: orange 1px solid;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
    letter-spacing: -.3px;
  }
  aside:last-of-type ol { 
    margin: 0; 
    padding-left: 20px;
  }
  aside:last-of-type h2 {font-size: 14px;}
  section {width: 171px; margin-right: .25rem; border-top: 5px solid;}
  main {height: 381px;}
  img {
    height: 255px;
    width: 145px;
  }
  figure em::after {/*this is literally here solely to underline the one in 31*/
    margin-left: -12px;
    top: 7px;
    letter-spacing: -4px;
  }
  figcaption p:first-of-type{
    bottom: 1rem;
    left: 25px;
    width: 100px;
    font-size: 10px;
  }
  figcaption em {/*31*/
    font-size: 30px;
    line-height: 30px;
  }
  figcaption p:last-of-type {/*keith lathrop*/
    left: -20px;
    bottom: -92px;
    margin: 0;
    font-size: 6px;
  }
  aside:last-of-type li::before {
    border-left: solid 5px white;/*hiding value periods behind border*/
    margin-left: -.3rem;
    padding-right: 0;
  }
  section h2 {
    font-size: 14px;
    margin: .4rem 0 -.4rem 0;
    letter-spacing: -1px;
  }
  section li {
    margin-bottom: -.13rem;
  }
  section li h3 {
    margin: 0 0 -.22rem -.29rem;
    font-size: 6px;
    border-left: 3px solid white;/*hiding value periods using border*/
    padding-left: 2px;
  }
  section li p {
    position: relative;
    bottom: 4px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: .5rem;
    font-size: 6px;
  }
  li::marker {font-size: 8px;}
  /*#region dumb list solution=================================================*/
  li[value*='11'] p {text-indent: 2.9rem;}/*take time to*/
  li[value*='12'] p {text-indent: 2rem; width: 90%;}/*how to*/
  li[value*='16'] p {text-indent: 3.6rem; width: 90%;}/*womansday.com*/
  li[value*='20'] p {text-indent: 5.2rem; width: 90%;}/*reinventing date night*/
  li[value*='26'] p {text-indent: 2.8rem; width: 70%;}/*momfidence*/
  li[value*='31'] p {text-indent: 2.9rem;}/*take time to*/
  li[value*='32'] p {text-indent: 3.4rem; width: 90%;}/*beauty closet*/
  li[value*='36'] p {text-indent: 3.1rem; width: 90%;}/*pretty in red*/
  li[value*='47'] p {text-indent: 2.9rem;}/*take time to*/
  li[value*='49'] p {text-indent: 6.1rem; width: 86%;}/*4 fridays*/
  li[value*='52'] p {text-indent: 2.9rem;}/*your health*/
  li[value*='55'] p {text-indent: 2.1rem;}/*checkup*/
  li[value*='56'] p {text-indent: 4.5rem;}/*25 medical mistakes*/
  li[value*='68'] p {top: 3px; padding-bottom: .5rem; width: 75%;}/*the heart*/
  li[value*='72'] p {text-indent: 4.5rem; width: 95%;}/*your child's health*/
  li[value*='76'] p {text-indent: 3.6rem; width: 85%;}/*blast belly fat*/
  /*#endregion dumb list solution=================================================*/
}