/*#region normalize ==========================================================================*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
  width: 100%;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  width: 100%;
  margin: 0;
}
/*#endregion normalize =======================================================================*/
header {
  display: grid;
  row-gap: 0rem;
  grid-template-areas: 'headerP''headerh1';
  justify-content: right;
}
header h1 {
  grid-area: headerh1;
  color: orangered;
  font-family: 'Courier New', Courier, monospace;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 160px;
  margin: 0;
  letter-spacing: -20px;
}
header p {
  text-transform: uppercase;
  grid-area: headerP;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  word-spacing: -10px;
  margin-bottom: 0;
}
#container {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
footer {
  display: flex;
  justify-content: right;
  text-transform: uppercase;
  width: 100%;
  height: fit-content;
}
footer p {
  margin-top: 0;
}
footer em {
  color: orangered;
  font-size: 20px;
}
/*#region main grid =========================================================================*/
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;/*columns appear right to left instead of left to right*/
  width: 894px;
  height: 1060px;
  overflow: hidden;
}
aside:first-of-type {/*model picture lady*/
  width: fit-content;
}
aside:last-of-type {/*on our cover*/
  border: orange 2px solid;
  width: 370px;
  height: max-content;
  padding: 0rem 1rem;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.5);
  margin-top: 1rem;
}
aside:last-of-type h2{
  font-family: serif;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
section {
  width: 480px;
  margin-left: 2rem;
}
section:first-of-type
{
  border-top: 15px solid olivedrab;
  height: 320px;
}
section:nth-of-type(2) {
  border-top: 15px solid palevioletred;
  height: 228px;
}
section:last-of-type {
  border-top: 15px solid darkcyan;
  height: 510px;
}
/*#endregion main grid =========================================================================*/
img {
  height: 707px;
  width: 402px;
}
figure {
  position: relative;
  padding: 0;
  margin: 0;
}
figure em {/*31*/
  font-size: 120px;
  font-family: 'Arial Narrow', sans-serif;
  font-style: normal;
  line-break: auto;
  line-height: 100px;
}
figure em::after {/*this is literally here solely to underline the one in 31*/
  position: relative;
  content: "--";
  margin-left: -3rem;
  top: 26px;
  letter-spacing: -13px;
}
figcaption p:first-of-type{
  display: grid;
  color: white;
  position: absolute;
  bottom: 3.5rem;
  left: 80px;
  width: 150px;
  text-align: left;
}
figcaption p:last-of-type {
  transform: rotate(-90deg);
  position: absolute;
  left: -35px;
  bottom: -275px;
}
aside {
  width: 50%;
  justify-self: center;
}
aside:last-of-type p em{
  font-style: normal;
  text-transform: uppercase;
}
aside:last-of-type p{
  margin: 0;
}
aside:last-of-type ol{
  margin-top: 0;
  padding-top: 0;
}
aside:last-of-type li::before {
  content: "";
  border-left: solid 5px white;/*hiding value periods behind border*/
  margin-left: -.8rem;
  padding-right: .5rem;
}
section h2 {
  text-transform: lowercase;
  font-family: serif;
  font-weight: 100;
  font-size: 40px;
  margin: 1.5rem 0;
  line-height: 0;
  letter-spacing: -2px;
}
section ol {
  width: 90%;
  margin-left: 12%;
  padding: 0;
}
section li {
  position: relative;
  margin-bottom: -.5rem;
  margin-right: 0;
}
section li:last-of-type {
  margin-bottom: -1rem;
}
section:last-of-type li:last-of-type {
  margin-bottom: -2rem;
}
section li h3 {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 -.6rem -.8rem;
  text-wrap: wrap;
  font-size: 16px;
  border-left: 5px solid white;/*hiding value periods using border*/
  padding-left: 7px;
}
section li p {
  position: relative;
  bottom: 12px;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.5rem;
}
section:first-of-type li h3 {
  color: olivedrab;
  
}
section:nth-of-type(2) li h3 {
  color: palevioletred;
}
section:last-of-type li h3 {
  color: darkcyan;
}
li::marker {
  font-family:'Trebuchet MS', sans-serif;
  font-size: 20px;
}
li strong {
  text-transform: capitalize;
}
/*#region dumb list solution=================================================*/
li[value*='11'] p {text-indent: 7.2rem;}/*take time to*/
li[value*='12'] p {text-indent: 5.3rem; width: 90%;}/*how to*/
li[value*='16'] p {text-indent: 9.5rem; width: 90%;}/*womansday.com*/
li[value*='20'] p {text-indent: 13.6rem; width: 90%;}/*reinventing date night*/
li[value*='26'] p {text-indent: 7.1rem; width: 65%;}/*momfidence*/
li[value*='31'] p {text-indent: 7.3rem;}/*take time to*/
li[value*='32'] p {text-indent: 8.8rem; width: 90%;}/*beauty closet*/
li[value*='36'] p {text-indent: 8.1rem; width: 90%;}/*pretty in red*/
li[value*='47'] p {text-indent: 7.3rem;}/*take time to*/
li[value*='49'] p {text-indent: 16.3rem; width: 87%;}/*4 fridays*/
li[value*='52'] p {text-indent: 7.7rem;}/*your health*/
li[value*='55'] p {text-indent: 5.2rem;}/*checkup*/
li[value*='56'] p {text-indent: 11.5rem;}/*25 medical mistakes*/
li[value*='68'] p {top: 10px; padding-bottom: 1.5rem; width: 75%;}/*the heart*/
li[value*='72'] p {text-indent: 11.8rem; width: 95%;}/*your child's health*/
li[value*='76'] p {text-indent: 9.2rem; width: 85%;}/*blast belly fat*/
/*#endregion dumb list solution=================================================*/