/*#region normalize ==========================================================================*/
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/*#endregion normalize =======================================================================*/
header {
  display: grid;
  row-gap: 0rem;
  grid-template-areas: 'headerP''headerh1';
  text-align: left;
  justify-content: right;
}
header h1 {
  grid-area: headerh1;
  color: orangered;
  font-family: serif;
  text-transform: lowercase;
  font-weight: 100;
  font-size: 200px;
  margin: 0;
}
header p {
  text-transform: uppercase;
  grid-area: headerP;
}
/*#region main grid =========================================================================*/
main {
  display: grid;
  grid-template-areas: 'figure section1''figure section2''aside section3';
  grid-template-columns: 1fr 1fr;
  justify-items: right;
  width: 1100px;
}
aside:first-of-type {
  grid-area: figure;
}
aside:last-of-type {
  grid-area: aside;
  border: orangered 2px solid;
  width: 400px;
  height: max-content;
  padding: 0rem 1rem;
}
section {
  width: 500px;
}
section:first-of-type
{
  grid-area: section1;
  border-top: 20px solid olivedrab;
}
section:nth-of-type(2) {
  grid-area: section2;
  border-top: 20px solid palevioletred;
}
section:last-of-type {
  grid-area: section3;
  border-top: 20px solid darkcyan;
}
footer {
  display: flex;
  justify-content: right;
  width: 1100px;
  text-transform: uppercase;
}
/*#endregion main grid =========================================================================*/
figure {
  position: relative;
  padding: 0;
  margin: 0;
}
figure em {
  font-size: 100px;
  font-family: monospace;
  font-style: normal;
  font-weight: 300;
  line-break: auto;
}
figcaption p:first-of-type{
  display: grid;
  color: white;
  position: absolute;
  bottom: 5rem;
  left: 120px;
  width: 150px;
}
figcaption p:last-of-type {
  transform: rotate(-90deg);
  position: absolute;
  left: -35px;
  bottom: -300px;
}
aside:last-of-type p em{
  font-style: normal;
  text-transform: uppercase;
}
section h2 {
  text-transform: lowercase;
  font-family: serif;
  font-weight: 100;
  font-size: 40px;
  margin: 0;
}
/*#region dumb list solution=================================================*/
section li {
  position: relative;
}
section li h3 {
  position: relative;
}
section li p {
  position: relative;
  bottom: 38px;
}
section:first-of-type li h3 {
  color: olivedrab;
  
}
section:nth-of-type(2) li h3 {
  color: palevioletred;
}
section:last-of-type li h3 {
  color: darkcyan;
}
li[value*='11'] p {text-indent: 7.5rem;}
li[value*='12'] p {text-indent: 5.5rem;}
li[value*='16'] p {text-indent: 9.9rem;}
li[value*='20'] p {text-indent: 13.2rem;}
li[value*='26'] p {text-indent: 7.1rem;}
li[value*='31'] p {text-indent: 7.5rem;}
li[value*='32'] p {text-indent: 8rem;}
li[value*='36'] p {text-indent: 7.5rem;}
li[value*='47'] p {text-indent: 7.5rem;}
li[value*='49'] p {text-indent: 15.5rem;}
li[value*='52'] p {text-indent: 6.7rem;}
li[value*='55'] p {text-indent: 5.2rem;}
li[value*='56'] p {text-indent: 11.5rem;}
li[value*='68'] p {text-indent: 20.5rem;}
li[value*='72'] p {text-indent: 11rem;}
li[value*='76'] p {text-indent: 8.5rem;}
/*#endregion dumb list solution=================================================*/